header, main, footer {
      padding-left: 300px;
      margin-left: 0;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

.brand-logo {
  font-family: 'Megrim', serif;
  font-weight: bolder;

}

#masterControls {

  margin: 50px;
  padding: 10px;
  position: fixed;


}






#volumeTitle {
  font-family: 'Nova Square', serif;
  text-align: center;

}



#displaydB {

  text-align: center;
  position: relative;
  font-family: 'Nova Square', serif;


}

#masterVolumeSlider .ui-slider-input {
  display: none;
  overflow: hidden;

}

.center-btn {
  text-align: center;
}





body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
